In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('user_rankings/planetVB_users_20012018.csv')

In [3]:
df.columns

Index(['collector', 'country', 'gender', 'highscores', 'last_login',
       'num_posts', 'occupation', 'profile_views', 'projects', 'rank',
       'ratings', 'registered', 'submissions', 'username'],
      dtype='object')

In [4]:
df[['rank', 'username', 'num_posts']].head()

            rank           username  num_posts
0  Administrator             KR155E       2433
1         Newbie  RobotTypePerson3D          2
2      PVB Elite               DogP       1507
3      PVB Elite         RunnerPack       1413
4     VUE(xpert)     lameboyadvance        267

In [5]:
df_users = df[['rank', 'username', 'num_posts']].copy(deep=True)

In [6]:
pd.unique(df_users['rank'])

array(['Administrator', 'Newbie', 'PVB Elite', 'VUE(xpert)', 'VB Gamer',
       'Nintendoid!', 'Virtual Freak', 'PVB Staff', nan], dtype=object)

In [7]:
df_users.fillna(axis=1, method=None, value='Newbie', inplace=True)

In [8]:
pd.unique(df_users['rank'])

array(['Administrator', 'Newbie', 'PVB Elite', 'VUE(xpert)', 'VB Gamer',
       'Nintendoid!', 'Virtual Freak', 'PVB Staff'], dtype=object)

In [9]:
ranks = [
    'Newbie',
    'VB Gamer',
    'Virtual Freak',
    'Nintendoid!',
    'VUE(xpert)',
    'PVB Elite',
    'PVB Staff',
    'Administrator'
]
"""
Newbie
0 to 9 Posts

VB Gamer
10 to 49 Posts

Virtual Freak
50 to 99 Posts

Nintendoid!
100 to 249 Posts

VUE(xpert)
250 to 499 Posts

PVB Elite
500 to ???? Posts

PVB Staff (Special)
Administrator (Special)
"""
import json
print(json.dumps(ranks))

["Newbie", "VB Gamer", "Virtual Freak", "Nintendoid!", "VUE(xpert)", "PVB Elite", "PVB Staff", "Administrator"]

In [10]:
df_pr = pd.read_csv('user_rankings/planetvb_pr_ungrouped.csv')
df_pr.rename(columns={'id': 'username'}, inplace=True)

In [11]:
df_pr.head()

      username   pagerank  inDegree  outDegree
0       KR155E  33.717786      3718       1385
1  CrazyMaster   8.022711       137          2
2         DogP   6.854887       942       1382
3    MineStorm   6.293640       485        240
4  UncleTusker   4.626488       656         60

In [12]:
df_ranks = df_pr.join(df_users.set_index('username'), on='username', how='inner')

In [13]:
df_ranks.head()

       username   pagerank  inDegree  outDegree           rank  num_posts
0        KR155E  33.717786      3718       1385  Administrator       2433
2          DogP   6.854887       942       1382      PVB Elite       1507
3     MineStorm   6.293640       485        240     VUE(xpert)        312
4   UncleTusker   4.626488       656         60    Nintendoid!        139
5  VirtualChris   4.544041      1013        122      PVB Elite        872

In [14]:
df_ranks.to_csv('user_rankings/planetvb_user_ranks.csv', sep=',', index=False)

In [15]:
df_ranks.set_index('username').to_json('user_rankings/planetvb_user_ranks.json', orient='records')

In [16]:
df_ranks.to_json('user_rankings/planetvb_user_ranks.json', orient='records')

## ATARI

In [68]:
df_users = pd.read_csv('user_rankings/atariusers.csv')

In [69]:
df_users.columns

Index(['age', 'birthday', 'gender', 'group', 'likes', 'likes_text', 'location',
       'posts', 'rank', 'user_dates', 'user_link', 'username', 'views'],
      dtype='object')

In [70]:
df_users.head()

,age,birthday,gender,group,likes,likes_text,location,posts,rank,user_dates,user_link,username,views
0,NaN,NaN,Not Telling,New Members,2,Neutral,NaN,10,Space Invader,['sergei277 Member Since 20 Dec 2017 Offline L...,http://atariage.com/forums/user/62944-sergei277/,sergei277,108
1,39 years old,"April 4, 1978",Male,Members,60,Excellent,Missouri,156,Chopper Commander,['low_budget Member Since 14 Jan 2012 Offline ...,http://atariage.com/forums/user/31751-low-budget/,low_budget,"9,660"
2,NaN,NaN,Male,AtariAge Subscriber,4388,Excellent,NaN,"8,877",Jason S. - Lead Developer & CEO,['Gemintronic Member Since 23 May 2007 Offline...,http://atariage.com/forums/user/13304-gemintro...,Gemintronic,"36,255"
3,37 years old,"February 4, 1981",Male,Members,634,Excellent,new orleans,"2,269",River Patroller,['bomberpunk Member Since 10 Sep 2003 Offline ...,http://atariage.com/forums/user/4026-bomberpunk/,bomberpunk,"23,363"
4,50 years old,"February 11, 1968",Male,Members,3435,Excellent,"Kelowna, B.C. CANADA","5,207",Quadrunner,['OldSchoolRetroGamer Member Since 12 Aug 2006...,http://atariage.com/forums/user/10336-oldschoo...,OldSchoolRetroGamer,"35,879"

In [71]:
pd.unique(df_users['rank'])

array(['Space Invader', 'Chopper Commander',
       'Jason S. - Lead Developer & CEO', 'River Patroller', 'Quadrunner',
       'Dragonstomper', 'Star Raider', 'Moonsweeper', 'Stargunner',
       'Go Sleep In the Cold', 'Missile Commander', 'Solar Striker',
       'Combat Commando', 'Commodore Chaos Knight',
       'I say boom boom boom', 'Dumbass Atari Fan', 'VCS Games Archivist',
       'Just a regular dude.', 'Draconian', 'Visual batari Basic User',
       'Phanto of the Opera', 'Princess Rescuer', 'Gunstar', 'Preppie!',
       'Games Developer', 'Nodus Tollens', 'Fight like a robot!',
       'Channel F Viewer', 'Crazy Climberer', "D'oh level", 'VideoLifer',
       'Commander', 'Jonboi Waltune Groupie', 'NNID: MrMegaManFan',
       'Thrust, Jammed, SWOOPS!, Boulder Dash, THREE·S, Star Castle ',
       ")66]U('=I;B$*", 'Champion of Mites', 'Kwisatz Haderach',
       'Maker of Origami & Mazes!', 'Breakpack for the new millenium :D',
       'Sheik Yerbouti', 'Launch Edition', 'Web-slinger',
       'Super Amazing Guy', 'Epic Godlike Canadian', 'Gunslinger',
       'Red Sea Crosser', 'Not-so-secretly Trolling', 'Q*bert Champion',
       'Intellivision Hoarder',
       'I am the Black Knight. Give me your money!',
       'A.K.A. Revolutionika', 'Metagalactic Mule', 'Innocent',
       'TAT IS BACK!',
       '***Moon Patrol 5200***     ***Moon Master***  *Blue Max:Class 4*',
       'The hottest thing from the North to come out of the South',
       "Don't forget your helmet!", 'Progressive Pornobär',
       'Nurgle, The Pestilent One', 'made of fire and pop rocks',
       'Boldly Going Nowhere', 'Quadrunner (yeah, right)',
       'LICK MY RED ROCKET LIKE A CANDY CAIN !!!', 'HMBL 2600 coder',
       'Pencil wrangler', 'Bryan G.', 'Born To Be Insane',
       'Skeet Shooter', 'Taters', 'how do i shot cop/', 'Tunnel Runner',
       'Cookie Meister', '(Fabrizio Zavagli)',
       'Facebook.com/Collectorvision', 'God of Thunder', 'Vicar of Fonz',
       'Star Raiders', 'Scammer', 'Non-Responder'], dtype=object)

In [72]:
df_users['rank'].count()

22467

In [73]:
ranks_count = df_users.groupby('rank')['username'].count()

In [74]:
ranks_count[ranks_count > 1].sum()

22396

In [75]:
ranks_count = ranks_count[ranks_count > 1]

In [76]:
df_users = df_users.join(ranks_count, how='outer', on='rank', rsuffix='_R')

In [77]:
df_users[df_users['username'] == 'CPUWIZ']

,age,birthday,gender,group,likes,likes_text,location,posts,rank,user_dates,user_link,username,views,username_R
281,15 years old,"March 25, 2002",Male,NaN,8983,Excellent,SoCal,"33,399",Commander,['CPUWIZ Member Since 26 Mar 2002 Offline Last...,http://atariage.com/forums/user/1244-cpuwiz/,CPUWIZ,"97,358",NaN

In [78]:
# df_users[pd.isnull(df_users['username_R'])]['rank'] = 'Other'
df_users.loc[pd.isnull(df_users['username_R']), 'rank'] = 'Custom'

In [79]:
df_users = df_users[['posts', 'username', 'rank']].copy(deep=True)
df_users.set_index('username', inplace=True)
df_users['posts'] = df_users['posts'].str.replace(',', '')
df_users['posts'] = df_users['posts'].astype('int64')

In [80]:
df_pr = pd.read_csv('user_rankings/pagerank_atari_para_rober.csv',
                    skiprows=1,
                    names=['username', 'pagerank'],
                    index_col='username',
                    sep=";")

In [81]:
df_pr.head()

            pagerank
username
Albert    244.846118
Rev       169.570862
CPUWIZ    155.365267
Ze_ro     133.649169
Tempest   130.575840

In [82]:
df_users.head()

             posts           rank
username
sergei277       10  Space Invader
Tempy           32  Space Invader
NewWaveToys     18  Space Invader
OscarGungan     14  Space Invader
Asbrandt        30  Space Invader

In [83]:
df_users['username'] = df_users.index

In [84]:
df_users_pr = df_users.join(df_pr, how='inner')

In [85]:
df_users_pr['username'] = df_users_pr.index

In [86]:
df_users_pr.to_json('user_rankings/atariage_user_ranks.json', orient='records')